<dialog id="c-gdpr">
    <section class="c-gdpr__intro active">
        <header>
            <h4>We value your privacy</h4>
        </header>
        <p>
            In order to give you the best experience on this website we use cookies to personalise the content. You can
            click below if you are happy for us to continue doing this, or to see more information. You can always change
            your mind later.
        </p>
        <div class="c-gdpr__buttons">
            <button class="tab-settings">More options</button>
            <button class="tab-accept-all">I accept</button>
        </div>
    </section>
    <section class="c-gdpr__settings">
        <header>
            <h4>Cookie settings</h4>
        </header>
        <ul>
            <li><div class="a-featureToggle" data-feature="commento"></div></li>
        </ul>
    </section>
</dialog>
