@import "../colors";
@import "../sizes";
@import "../fonts";

// Content
.c-content {
  width: $desktop-content-width;
  padding: $desktop-content-padding $desktop-content-padding ($desktop-content-padding / 2);
  margin: -7rem auto 0 auto;
  background-color: $worstpractice-tanned-light;
  border-radius: 0.5rem;
}

.c-header__title {
  font-size: $size-post-h2;
  line-height: $size-post-h2-line;
  margin: 3rem 0;
}

// Article List
.c-content__list {
  display: flex;
  flex-wrap: wrap;
  width: $desktop-content-width - (2 * $desktop-content-padding);
  padding: 0;
  margin: 0;
}

.c-header {
  flex-basis: 70rem;
  width: 70rem;
  margin-right: 0;
}

.c-footer {
  flex-basis: 70rem;
  width: 70rem;
  margin-right: 0;
}

.c-footer nav {
  display: block;
  width: 70rem;
  height: 2.1rem;
  padding: 0;

  .prev {
    padding: 0;
    margin: 0;
    display: block;
    width: 35rem;
    text-align: left;
    float: left;
    height: 2.1rem;
    line-height: 2.1rem;
  }

  .next {
    padding: 0;
    margin: 0;
    display: block;
    width: 35rem;
    text-align: right;
    float: right;
    height: 2.1rem;
    line-height: 2.1rem;
  }
}

.l-article {
  flex-basis: 22rem;
  flex-shrink: 0;
  flex-grow: 0;
  width: 22rem;
  margin: 0 2rem 4rem 0;
  padding: 0;

  .l-excerpt {
    display: none;
  }
}

.l-header__title {
  font-size: $size-post-h4;
  line-height: $size-post-h4-line;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 22rem;

  a {
    text-decoration: none;
  }
}

.l-header__author,
.l-header__date {
  font-size: $size-meta;
  line-height: $size-meta-line;
  letter-spacing: $size-letter-spacing-tiny-gap;
  font-family: $font-serif;
  font-weight: 400;
  font-style: italic;
}

.l-article:nth-child(3n + 0) {
  margin-right: 0;
}

.c-content__list.--home {
  .l-article:nth-child(1) {
    flex-basis: 70rem;
    width: 70rem;
    margin-right: 0;

    .l-header__title {
      font-size: $size-post-h3;
      line-height: $size-post-h3-line;
      max-width: 70rem;
    }

    .l-excerpt {
      display: block;
    }
  }

  .l-article:nth-child(2),
  .l-article:nth-child(3) {
    flex-basis: 34rem;
    width: 34rem;

    .l-header__title {
      font-size: $size-post-h3;
      line-height: $size-post-h3-line;
      max-width: 34rem;
    }

    .l-excerpt {
      display: block;
    }
  }
}

// Article
.a-article {
  padding-bottom: 2rem;
}

.a-header__title {
  font-size: $size-post-h2;
  line-height: $size-post-h2-line;
  margin: 0 0 3rem 0;
}

.a-header__update {
  font-size: $size-post-h5;
  line-height: $size-post-h5-line;
}

.a-header__meta {
  margin: 3rem 0;
  padding: 0 2rem;

  a, p {
    font-size: $size-meta;
    line-height: $size-meta-line;
    letter-spacing: $size-letter-spacing-tiny-gap;
    font-family: $font-serif;
    font-weight: 400;
    font-style: italic;
  }
}

.a-article h3 {
  font-size: $size-post-h3;
  line-height: $size-post-h3-line;
  margin: 2rem 0;
}

.a-article h4 {
  font-size: $size-post-h5;
  line-height: $size-post-h5-line;
  margin: 1rem 0;
}

.a-illustration {
  width: $desktop-content-width -$desktop-content-padding;
  margin-left: -$desktop-content-padding / 2;
  margin-bottom: 4rem;
}

.a-illustration__image {
  width: 100%;
  margin: 0;
}

.a-illustration__caption {
  text-align: center;
  color: $dark-grey;
  font-weight: 300;
  font-family: $font-serif;
  font-style: italic;
  font-size: $size-caption;
  line-height: $size-caption-line;
}

.a-excerpt {
  font-size: $size-large;
  line-height: $size-large-line;
  padding-bottom: 5rem;
  margin-bottom: 1.6rem;
}

.a-body {
  h2 {
    margin: 3.2rem 0 1.6rem 0;
  }

  h3 {
    margin: 1.6rem 0 1.2rem 0;
  }

  p {
    margin: 1.6rem 0 3.2rem 0;
    font-size: $size-medium;
    line-height: $size-medium-line;
    letter-spacing: $size-letter-spacing-tiny-gap;
    text-indent: 1rem;
  }
}

.a-footer {
  margin-top: 2rem;
  background-color: $worstpractice-tanned;
  padding: 2rem;
  border-radius: 0.5rem;

  .a-footer__title {
    font-size: $size-post-h5;
    line-height: $size-post-h5-line;
    font-weight: 700;
    width: 100%;
    margin-top: 0;
  }
}

.a-footer__avatar {
  display: inline-block;
  width: 10rem;
  height: 12rem;
  margin-right: 2rem;
  overflow: hidden;
  vertical-align: top;

  img {
    margin: 0;
    height: 100%;
  }
}

.a-footer__author {
  vertical-align: top;
  display: inline-block;
  height: 12rem;
  width: calc(100% - 14rem);
}
