@import "../colors";
@import "../sizes";
@import "../fonts";

.h-header {
  width: $desktop-content-width;
  margin: 0 auto;
  height: 52rem;
  padding-top: 2rem;
  z-index: 8;
  pointer-events: none;
}

.h-header__title {
  height: 0 !important;
  padding-top: 50rem;
  overflow: hidden;
  background-image: url("/assets/img/header.png");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;

  a {
    display: block;
    position: absolute;
    width: 62rem;
    height: 0 !important;
    overflow: hidden;
    padding-top: 11rem;
    top: 5rem;
    left: 12rem;
    z-index: 10;
    transform: rotate(-8deg);
    user-select: none;
    pointer-events: all;
  }
}

.codeOfTheDay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  pointer-events: none;

  pre.highlight {
    background-color: $transparent;
    font-size: $size-sourcecode;
    line-height: $size-sourcecode-line;
  }

  pre.highlight::before {
    content: none;
  }
}

.codeOfTheDay__toggle {
  pointer-events: all;
}

.codeOfTheDay__toggle,
.codeOfTheDay__content {
  z-index: 10;
  position: absolute;
  top: 0.3rem;
  left: 50vw;
  padding: 0.4rem;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  width: 640px;
  height: 480px;
  transform: perspective(300rem) matrix(1.1, -0.02, -0.18, 1, 0, 0) translateX(-16.5rem) translateY(2.8rem) scale(0.28) rotateY(-25deg);
  border-radius: 1rem;
}

.codeOfTheDay__content {
  z-index: 9;
  cursor: default;
  opacity: 1;
  background-color: $transparent;
  transition: background-color 500ms ease-in-out 200ms, transform 500ms ease-in-out, top 500ms ease-in-out;

  .highlighter-rouge {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .rouge-table {
      display: block;
      width: 100%;

      tbody {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      tr {
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }

    .rouge-gutter {
      display: block;
      width: 3.5rem;
      text-align: right;
      white-space: nowrap;
      padding-right: 1rem;
      border-right: 0.2rem solid $code-gutter-border;
      position: sticky;
      z-index: 2;
      left: 0;

      .lineno {
        width: 2.5rem;
        white-space: pre;
      }
    }

    .rouge-code {
      display: block;
      padding: 0 1rem;
      z-index: 1;
      white-space: nowrap;

      pre {
        white-space: pre;
      }
    }
  }
}

.codeOfTheDay__backdrop {
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $white-60;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  pointer-events: none;
}

.codeOfTheDay__toggle:checked {
  z-index: 19;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
  margin: 0;
}

.codeOfTheDay__toggle:checked ~ .codeOfTheDay__content {
  z-index: 20;
  top: 50vh;
  transform: perspective(0) matrix(1, 0, 0, 1, 0, 0) translateX(-50%) translateY(-50%) scale(1) rotateY(0deg);
  transition: background-color 500ms ease-in-out, transform 500ms ease-in-out 200ms, top 500ms ease-in-out 200ms;
  background-color: $code-background;
  box-shadow: 0 0 1rem 0 $black-75;
}

@keyframes blinker {
  50% {
    color: $worstpractice-tanned-light;
  }
}

.codeOfTheDay__toggle:checked ~ .codeOfTheDay__content::before {
  content: 'WARNING! This is a terrible code. Please never use it!';
  display: block;
  position: absolute;
  padding: 0.2rem;
  text-align: center;
  width: 64rem;
  top: -4rem;
  left: -0.1rem;
  background: $code-background;
  border-radius: 1rem;
  color: $light-red;
  animation: blinker 1s linear infinite;
  box-shadow: 0 0 1rem 0 $black-75;
}

.codeOfTheDay__toggle:checked ~ .codeOfTheDay__backdrop {
  z-index: 18;
  opacity: 1;
  transition-delay: 200ms;
}
