@import "../colors";
@import "../sizes";
@import "../fonts";

.a-article {

}

.a-header__title {
  font-size: $text-size-post-h2;
  line-height: $text-size-post-h2-line;
  margin: 3rem 0;
}

.a-article h3 {
  font-size: $text-size-post-h3;
  line-height: $text-size-post-h3-line;
  margin: 2rem 0;
}

.a-article h4 {
  font-size: $text-size-post-h4;
  line-height: $text-size-post-h4-line;
  margin: 1rem 0;
}

.a-excerpt {
  font-size: $text-size-large;
  line-height: $text-size-large-line;
  padding-bottom: 5rem;
  margin-bottom: 1.6rem;
}

.a-body p {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: $text-size-medium;
  line-height: $text-size-medium-line;
  letter-spacing: $text-size-letter-spacing-tiny-gap;
}