@import "../colors";
@import "../sizes";
@import "../fonts";

img {
  margin: 0.5rem 0;
}

blockquote {
  padding: 2rem 5rem;
}

blockquote::before {
  font-family: $font-serif;
  position: absolute;
  top: 5rem;
  left: -1rem;
  display: block;
  content: "”";
  color: $grey;
  font-weight: 700;
  font-size: 6rem;
}

pre {
  width: $desktop-content-width;
  margin-left: -$desktop-content-padding;
  margin-top: 4rem;
  font-size: $text-size-sourcecode;
  line-height: $text-size-sourcecode-line;
  border: 0.2rem dashed $dark-grey;
  border-radius: 1rem;
  padding: 1rem;

  code {
    display: block;
    width: 100%;
    max-height: 75vh;
    overflow: auto;
    margin: 0;
  }
}

.highlighter-rouge pre::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 9.8rem;
  color: $dark-grey;
  font-weight: 300;
  font-family: $font-serif;
  font-style: italic;
  font-size: $text-size-small;
  line-height: $text-size-small-line;
}

.language-php pre::before {
  content: 'Source code language: PHP'
}

.language-js pre::before {
  content: 'Source code language: JavaScript'
}