@import "../colors";
@import "../sizes";
@import "../fonts";

.material-icons {
 font-size: 2.4rem;
 line-height: 2.4rem;
}

.c-content {
  width: $desktop-content-width;
  padding-right: $desktop-content-padding;
  padding-left: $desktop-content-padding;
  margin: -7rem auto 0 auto;
  background-color: $worstpractice-tanned-light;
  padding-top: 3rem;
  border-radius: 0.5rem;
}
