@import "../colors";
@import "../sizes";
@import "../fonts";
@import "rouge-themes/gruvbox";

.c-content {
  .highlighter-rouge pre.highlight::before {
    content: '';
    display: block;
    color: $dark-grey;
    font-weight: 300;
    font-family: $font-serif;
    font-style: italic;
    font-size: $size-sourcecode;
    line-height: $size-sourcecode-line;
  }

  .language-php pre.highlight::before {
    content: 'Source code language: PHP'
  }

  .language-js pre.highlight::before {
    content: 'Source code language: JavaScript'
  }

  .language-css pre.highlight::before {
    content: 'Source code language: CSS'
  }

  .language-html pre.highlight::before {
    content: 'Source code language: HTML'
  }

  .language-bash pre.highlight::before {
    content: 'Bash/ZSH'
  }

  .language-docker pre.highlight::before {
    content: 'Dockerfile'
  }

  .language-yaml pre.highlight::before {
    content: 'YAML file'
  }
}
