$white: rgb(255, 255, 255);
$lighter-grey: rgb(246, 247, 249);
$light-grey: rgb(233, 235, 238);
$grey: rgb(221, 223, 226);
$dark-grey: rgb(153, 155, 159);
$darker-grey: rgb(117, 117, 117);
$deep-dark-grey: rgb(73, 75, 79);
$light-black: rgb(51, 51, 51);
$black: rgb(0, 0, 0);
