@import "colors";
@import "sizes";
@import "fonts";

::selection {
  background-color: $black;
  color: $grey;
}

::-moz-selection {
  background-color: $black;
  color: $grey;
}

*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
  font-family: $font-sans;
  cursor: default;
  margin: 0;
}

html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: $text-base-size;
}

body {
  overflow: auto;
  /* size */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* color */
  color: $light-black;
  background-color: $white;
  /* font */
  font-weight: 400;
  font-style: normal;
  font-size: $text-size-medium;
  line-height: $text-size-medium-line;
  letter-spacing: $text-size-letter-spacing-tiny-gap;
  font-variant-ligatures: no-common-ligatures;
  font-feature-settings: "kern", "liga" 0, "clig" 0;
}

a {
  cursor: pointer !important;
}

a:hover, a:active {
  text-decoration: underline;
}

a.mailto::after {
  content: " (worst.practice.blog@gmail.com)";
}

img {
  max-width: 100%;
}

a img {
  cursor: pointer;
  vertical-align: top;
}

p, li {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

strong {
  font-weight: 700;
}

blockquote p {
  font-family: $font-serif;
  font-weight: 400;
  font-style: italic;
  text-align: justify;
}

em {
  font-family: $font-serif;
  font-weight: 400;
  font-style: italic;
}

del {
  font-weight: 300;
  color: $light-black;
  text-decoration: line-through solid $dark-grey;
}

ins {
  color: $black;
  text-decoration: underline dashed $dark-grey;
  font-style: oblique;
}

pre * {
  font-family: $font-monospace;
  letter-spacing: normal;
}

.material-icons {
  font-family: $font-fantasy;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
