@import "colors";
@import "sizes";
@import "fonts";

::selection {
  background-color: $black;
  color: $grey;
}

::-moz-selection {
  background-color: $black;
  color: $grey;
}

*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
  font-family: $font-sans;
  cursor: default;
  margin: 0;
}

html {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: $base-size;
}

body {
  /* size */
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* color */
  color: $light-black;
  background-color: $white;
  /* font */
  font-weight: 400;
  font-style: normal;
  font-size: $size-medium;
  line-height: $size-medium-line;
  letter-spacing: $size-letter-spacing-tiny-gap;
  font-variant-ligatures: no-common-ligatures;
  font-feature-settings: "kern", "liga" 0, "clig" 0;
}

a {
  cursor: pointer !important;
}

a:hover, a:active {
  text-decoration: underline;
}

a.mailto::after {
  content: " (worst.practice.blog@gmail.com)";
}

img {
  max-width: 100%;
  margin: 0.5rem 0;
}

a > img {
  cursor: pointer;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

p, li {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

strong {
  font-weight: 700;
}

blockquote {
  padding: 2rem 5rem;
}

blockquote::before {
  font-family: $font-serif;
  position: absolute;
  top: 5rem;
  left: -1rem;
  display: block;
  content: "”";
  color: $grey;
  font-weight: 700;
  font-size: 6rem;
}

blockquote p,
em {
  font-family: $font-serif;
  font-weight: 400;
  font-style: italic;
}

del {
  font-weight: 300;
  color: $darker-grey;
  text-decoration: line-through wavy #f88;
}

ins {
  color: $black;
  text-decoration: underline wavy #8f8;
}

pre * {
  font-family: $font-monospace;
  font-size: $size-normal;
  line-height: $size-normal-line;
  letter-spacing: normal;
}

.material-icons {
  font-family: $font-fantasy;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 2.4rem;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
