---
layout: default
---
{%- include variables.html -%}

<header class="c-header">
    <h2 class="c-header__title">Archive: {{ currentDateLabel }}</h2>
</header>
<section class="c-content__list">
    {%- for post in page.posts -%}
        {% include post-list-element.html post=post %}
    {%- endfor -%}

    {%- assign listSize = page.posts | size -%}
    {%- capture emptyBoxes -%}
        {{ listSize | minus: 3 | abs | plus: 3 | modulo: 3 }}
    {%- endcapture -%}
    {% for i in (1..emptyBoxes) %}
    <article class="l-article --empty"></article>
    {% endfor %}
</section>
